* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 129px;
}

.logo {
    height: 100%;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border:hover {
    border: 1px solid white;
}


.add-one {
    margin-left: 17px;
    color: #cccccc;
    font-size: 0.85rem;
    margin-top: 5px;
}

.add-two {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.add-icon {
    display: flex;
    margin-left: 4px;
}

.nav-address {
    height: 50px;
    width: 138px;
    margin-top: 5px;
    margin-left: 8px;
    align-items: center;
}

.nav-search {
    margin-left: 8px;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}

.search-input {
    width: 700px;
    border: none;
    font-size: 1rem;
    padding-left: 7px;
}

.search-select {
    border: none;
    border-right: 1px solid #949191;
    color: #0f1111;
    width: 60px;
    background-color: #cfcfcf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: black;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.country {
    height: 45px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 22px;
    height: 17px;
    background-image: url("indian_flag.jpg");
    background-size: cover;
    margin-right: 2px;
    margin-left: 4px;
}

.lang {
    width: 50px;
    height: 15px;
    border: none;
    color: white;
    background-color: #0F1111;
}

.account {
    font-size: 12px;
    color: white;
    height: 50px;
}

.account-name {
    margin-top: 10px;
    margin-left: 4px;
}

.account-select {
    font-size: 14px;
    border: none;
    background-color: #0F1111;
    color: white;
    font-weight: bold;
}

.order-return {
    margin-top: 10px;
    margin-left: 4px;
    font-size: 12px;
}

.orders {
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
}

.order {
    height: 50px;
    width: 77px;
}

.cart {
    display: flex;
    width: 84px;
    height: 50px;
    align-items: center;
    font-size: 14px;
}

.cart-icon {
    margin-right: 2px;
    margin-left: 4px;
    font-size: 20px;
}

.cart-para {
    margin-top: 4px;
}

/** PANEL **/
.panel {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #222f3d;
    color: white;
    font-size: 14px;
}

.panel-menu {
    margin-left: 10px;
}
.panel-all {
    margin-left: 4px;
    margin-right: 4px;
}

.panel-opt {
    display: flex;
}

.panel-opt p {
    display: flex;
    margin-left: 20px;
    height: 45px;
    align-items: center;
}

.panel-select select {
    border: none;
    background-color: #222f3d;
    color: white;
    margin-left: 20px;
    font-size: 14px;
    height: 45px;
}

.panel-opts {
    display: flex;
}

.panel-opts p {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 45px;
}

.menubar {
    display: flex;
    height: 45px;
    align-items: center;
}

/** HERO SECTION **/
.hero-section {
    height: 268px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    
}

/** SHOP-SECTION **/
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #a67908;

}

.box {
    height: 385px;
    width: 21%;
    border: 2px solid black;
    background-color: white;
    padding: 20px 20px 15px 20px;
    margin-top: 10px;
}

.inner_box {
    height: 102.2px;
    width: 156.863px;
    margin-right: 10px;
}


.ac {
    background-image: url("AC_box1.jpg");
    background-size: cover;
}

.fridge {
    background-image: url("Fridge_box1.jpg");
    background-size: cover;
}

.box1-img {
    display: flex;
    height: 276.4px;
    width: 363.2px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.box1-img p {
    font-size: 12px;
    color: #0f1111;
    width: 165px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.matter {
    display: flex;
    flex-wrap: wrap;
}

.microwaves {
    background-image: url("Microwaves_box1.jpg");
    background-size: cover;
    margin-top: 20px;
}

.washmachine {
    background-image: url("Washingmachine_box1.jpg");
    background-size: cover;
    margin-top: 20px;
}

.matter-2 {
    display: flex;
    flex-wrap: wrap;
}

.box a {
    text-decoration: none;
    font-size: 11px;
    
}

.box2_1 {
    background-image: url("box2_1.jpg");
    background-size: cover;
}

.box2_2 {
    background-image: url("box2_2.jpg");
    background-size: cover;
}

.box2_3 {
    background-image: url("box2_3.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box2_4 {
    background-image: url("box2_4.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box3_1 {
    background-image: url("box3_1.jpg");
    background-size: cover;
}

.box3_2 {
    background-image: url("box3_2.jpg");
    background-size: cover;
}

.box3_3 {
    background-image: url("box3_3.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box3_4 {
    background-image: url("box3_4.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box4_1 {
    background-image: url("box4_1.jpg");
    background-size: cover;
}

.box4_2 {
    background-image: url("box4_2.jpg");
    background-size: cover;
}

.box4_3 {
    background-image: url("box4_3.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box4_4 {
    background-image: url("box4_4.jpg");
    background-size: cover;
    margin-top: 20px;
}

.box1 a {
    margin-top: 35px;
}

.box2 a {
    margin-top: 45px;
}

.box3 a {
    margin-top: 35px;
}

.box4 a {
    margin-top: 22px;
}

.shop-section-2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #a67908;

}

.box5-img {
    width: 323.2px;
    height: 303.7px;
    background-image: url("box5.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 25px;
}

.box6-img {
    width: 323.2px;
    height: 303.7px;
    background-image: url("box6.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 5px;
}

.box7-img {
    width: 323.2px;
    height: 303.7px;
    background-image: url("box7.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 5px;
}

.box8-img {
    width: 323.2px;
    height: 303.7px;
    background-image: url("box8.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 25px;
}

/** FOOT PANEL **/
.foot-panel1 {
    margin-top: 20px;
    background-color: #37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.foot-panel2 {
    background-color: #222f3d;
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    color: #dddddd;
    font-size: 14px;
    padding-top: 30px;
}

.foot-panel2 p {
    margin-top: 10px;
}

.foot-panel2 p:hover {
    text-decoration: underline;
}

.foot-panel3 {
    height: 100px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
}

.logoo {
    width: 76px;
    height: 27px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    margin-left: 400px;
    margin-right: 400px;

}

.language {
    display: flex;
    width: 113px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #cccccc;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.flagg {
    width: 18px;
    height: 12px;
    background-image: url("indian_flag.jpg");
    background-size: cover;

}

.india {
    display: flex;
    width: 113px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #cccccc;
    justify-content: space-around;
    align-items: center;
    
}

.foot-panel4 {
    height: 80px;
    background-color: #0F1111;
    color: #dddddd;
    font-size: 12px;
}

.foot-privacy {
    text-align: center;
    padding-top: 5px;
}

.copyright {
    text-align: center;
    padding-top: 5px;
}


